.experience{color: dodgerblue;}
.step {color: tomato;}
.Unlock {color: limegreen;}
.Rules {color: hotpink;}
.crafting{color: crimson;}
.Unleash{color: orange;}
.meet{color: blueviolet;}
.world{color: aquamarine;}
.awards{color:gold;}
.funding{color: mediumspringgreen;}
.Join{background-color: black;color: blue;width: 150px; height: auto; border: none; border-radius: 20px;}
.Enroll{background-color: black;color: white;width: 150px; height: auto; border: none; border-radius: 20px;}
.view{background-color: burlywood;color: brown;width: 150px; height: auto; border: none; border-radius: 20px;}
.shop{background-color: blue;color: black;width: 150px; height: auto; border: none; border-radius: 20px;}
.touch{background-color:blanchedalmond;color: black;width: 150px; height: auto; border: none; border-radius: 20px;}